{% extends 'layout/base.html' %}


{% block page_content %}

<div class="container">

    <div class="row mt-5">
        <div class="col-12">
            <div class="card-deck">
                <div class="card">
                    <img src="https://picsum.photos/id/1015/1080/720" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Product Title</h4>
                        <h5 class="text-primary">$100</h5>
                        <p class="card-text">Product Dscription</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#" class="btn btn-outline-info btn-sm float-left">
                            View Product
                            <i class="far fa-eye"></i>
                        </a>
                        <a href="#" class="btn btn-outline-success btn-sm">
                            Add to Cart
                            <i class="fas fa-shopping-bag"></i>
                        </a>
                    </div>
                </div>
                <div class="card">
                    <img src="https://picsum.photos/id/1015/1080/720" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Product Title</h4>
                        <p class="card-text">Product Dscription</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#" class="btn btn-outline-info btn-sm float-left">
                            View Product
                            <i class="far fa-eye"></i>
                        </a>
                        <a href="#" class="btn btn-outline-success btn-sm">
                            Add to Cart
                            <i class="fas fa-shopping-bag"></i>
                        </a>
                    </div>
                </div>
                <div class="card">
                    <img src="https://picsum.photos/id/1015/1080/720" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Product Title</h4>
                        <p class="card-text">Product Dscription</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#" class="btn btn-outline-info btn-sm float-left">
                            View Product
                            <i class="far fa-eye"></i>
                        </a>
                        <a href="#" class="btn btn-outline-success btn-sm">
                            Add to Cart
                            <i class="fas fa-shopping-bag"></i>
                        </a>
                    </div>
                </div>
                <div class="card">
                    <img src="https://picsum.photos/id/1015/1080/720" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Product Title</h4>
                        <p class="card-text">Product Dscription</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#" class="btn btn-outline-info btn-sm float-left">
                            View Product
                            <i class="far fa-eye"></i>
                        </a>
                        <a href="#" class="btn btn-outline-success btn-sm">
                            Add to Cart
                            <i class="fas fa-shopping-bag"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}