<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if request.path == '/' %}active{% endif %}">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item {% if request.path == '/about/' %}active{% endif %}">
                <a class="nav-link" href="/about">About</a>
            </li>
        </ul>

        <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item dropdown ml-auto">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    <img src="https://avatars.dicebear.com/api/bottts/3.svg" style="width: 25px" alt="" /> username
                </a>
                <div class="dropdown-menu dropdown-menu-right text-center">
                    <a href="{% url 'dashboard' %}" class="dropdown-item">Dashboard</a>
                    <a href="{% url 'profile' %}" class="dropdown-item">Profile</a>

                    <a href="javascript:{document.getElementById('logout').submit()}" class="dropdown-item">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                    <form action="{% url 'logout' %}" method="POST" id="logout">
                        {% csrf_token %}
                        <input type="hidden">
                    </form>
                </div>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>